*{
	margin: 0;
	padding: 0;
}
.yapimasamasi{
	width: 100vw;
	height: 100vh;
	background-color: #51e2f5;
	display: flex;
	justify-content: center;
	align-items:center ;
}
div{
	padding: 50px;
	border-radius: 20px;
	box-shadow: 2px 0px 50px #585b62;
	background-color: #e5eaf5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
	font-size: 40px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;	
}
p{
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;	
	margin-top: 20px;
}